<h2>Display item</h2>
<ul>
	<% @item.each do |item|%>
	<li><h3><%= link_to(item.name, item_bids_path(:item_id))%></h3><br>
	<%= image_tag item.logo.url(:thumb)%><br>
	</li>
	<hr>
	<%end%>
</ul>
<br>

<%= link_to("add new item", new_item_path)%>

